nav {
    background-color: transparent;
    display: flex;
    background-color: #ee0579;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    position: fixed;
    left: 0;
    right: 0;
}

.navitems {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    /* font-weight: bold; */
}

.text-white {
    color: white;
}
.ct {
    text-align: center;
    align-items: center;
    margin-top: 0; 
}

.ct {
    background-image: url(../Images/laptop-6966045_1920.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}